# Python virtual environment
env/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# OS or package manager files
*.sqlite3
*.db
